[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/QuickBuf"]
	path = bundle/QuickBuf
	url = git://github.com/vim-scripts/QuickBuf.git
[submodule "bundle/SnipMate"]
	path = bundle/SnipMate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/colorselector"]
	path = bundle/colorselector
	url = https://github.com/c9s/colorselector.vim.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
